
p {
  font-size: 420%;
  color: skyblue;
}

a {
    font-size: 40px;
    color: #f0e68c;
}

body 
{ 
  background: url("Spices.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
